%h2 About LPC Training
%p
  The code for LPC training is available on
  = link_to "Github", "https://github.com/LucyParsonsCenter/training"
  and if you'd like to contribute or learn about it, please feel free to poke around!

  If you're interested in writing code for the LPC ask someone with access to add you as
  a collaborator on the
  = link_to "LPC Organization", "https://github.com/LucyParsonsCenter"
