%h1 Help!
.row
  .col-xs-12.col-sm-6.col-md-8
    %p
      This page has a little bit of info just to point you to the right place.
      If it doesn't adequately answer your questions, send an email to the list
      or ask someone!

    %h3 Shifts
    %p
      You can manage shifts on the home screen. The calendar behaves much like Google
      Calendar, you can click and drag to create shifts. When the event modal comes up
      pick your name from the list!

    %p
      If you want to add a trainee just start typing their name in the 'trainee' box!

    %h3 Trainee and collective-member info

    %p
      The buttons for trainees and collective members along the top take you to the admin
      page for each. There you can view the info already inputted, edit, add new people, etc.

    %p
      If you want to convert a trainee into a collective member just click on the trainee's
      name and then click the 'convert to collective member' button.
