.modal.fade#fullcalendar-modal{"tabindex" => "-1", "role" => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"type" => "button", "data-dismiss" => "modal", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"}
            &times;
        %h4.modal-title#modal-title
      .modal-body#modal-body
        - collective_members = CollectiveMember.all.to_json
        - trainees = Trainee.all.to_json
        = react_component("EventFormVC", collectiveMembers: collective_members, trainees: trainees)
      .modal-footer
        %button.btn.btn-default{"type" => "button", "data-dismiss" => "modal"}
          Close
#calendar
