.col-md-8
  %a.btn.right-button.btn-primary{href: "trainees/new", type: "button"}
    New trainee
= render partial: 'layouts/personal_info_table', locals: {people: @trainees, type: "trainee", path: "trainees"}
