%table.table.table-hover
  %thead
    %th
      .col-md-3 First Name
      .col-md-3 Last Name
      .col-md-3 Email Address
      .col-md-3 Phone Number
  %tbody
    - people.each do |person|
      %tr
        %td
          .row
            .col-md-3= person.first_name
            .col-md-3= person.try(:last_name)
            .col-md-3= person.try(:email_address)
            .col-md-3= person.phone_number
